.jumbotron{
  margin-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.h-85{
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-caption p{
  color:#000 !important;
}
.carousel-caption h3{
  color: #E0A800;
}
.carousel-inner{
  height: 100% !important;
  width: 100% !important;
}
.carousel-item{
  width: 100% !important;
  height: 100% !important;
}