.jumbotron{
  margin-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.h-85{
  min-height: 85vh;
  padding: 40px 0;
  
}


.card{
  min-height:400px;
  margin: 5px 0!important;
  

}

.card-title{
  color: #E0A800 !important;
}
